
body {
  background: rgb(133, 175, 180);
  padding: 5px;
  height:fit-content;
  margin: 0;
  font: 500 100% system-ui, sans-serif;
  text-transform:capitalize;
  background-color: rgb(177, 40, 40);
}
h1 {
  color: rgba(0, 0, 0, 1);
  font-size: large;
  font-family: 'Franklin Gothic Medium';
}
p {
  color: rgba(0, 0, 0, 1);
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 5px;
  background-color: rgb(88, 91, 76);
  padding: 5px;
}

.grid-container > div {
  background-color: rgb(196, 215, 133);
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
}
